.h {
  &-100 {
    height: 100vh;
  }
}
.w {
  &-100 {
    width: 100%;
  }
}
.d {
  &-flex {
    display: flex;
  }
  &-inline-flex {
    display: inline-flex;
  }
  &-block {
    display: block;
  }
}
